<!-- <footer class="footer section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widget">
          <h4 class="text-capitalize mb-4">Get in touch with us</h4>

          <ul class="list-unstyled footer-menu">
            <li class="lh-3">
              Archives Soft Design(opc) Private Limited
              GF 19, Neelnandan Complex,
              New VIP Road, Vadodara.</li><br>
            <li>P: (91) 704 3940 123</li>
            <li>P: (91) 932 7904 653</li><br>
            <li>info@archivessoftdesign.in
              <br>yogesh777@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="widget">
          <h4 class="text-capitalize mb-4">TECHNOLOGY</h4>

          <ul class="list-unstyled footer-menu lh-3">
            <li>J2EE</li>
            <li>J2ME</li>
            <li>Java MVC Frameworks</li>
            <li>Android</li>
            <li>React JS</li>
            <li>React Native</li>
            <li>Angular</li>
            <li>IOS</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mx-lg-3 mx-auto">
        <h4 class="text-capitalize mb-4">SECTORS</h4>
        <ul class="list-unstyled footer-menu lh-3">
            <li>E-commerce</li>
            <li>Inventory</li>
            <li>Educational Institutes</li>
            <li>Financial Institutes</li>
            <li>Transportation Sector</li>
            <li>Healthcare Solution</li>
            <li>API support</li>
            <li>Natural Calamities</li>
            <li>Law, Order & Legal</li>
            <li>Matters</li>
        </ul>
         
          </div>
      

      <div class="col-lg-3 col-md-6 col-sm-6">
      
        <div class="widget">
          <div class="logo mb-4">
            <div class=" h4 text-nowrap text-capitalize">ARCHIVES <span>SOFT </span><span class="logodes">DESIGN</span></div>
          </div>
          
        
        
        
          
          
          <h6><a href="mailto:support@gmail.com">info@archivessoftdesign</a></h6>

          <a href="tel:+23-345-67890"><span class="text-color h4">+91 932 7904 653</span></a>
        </div>

      </div>
    </div> -->




    <footer class="footer section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget">
              <h4 class="text-capitalize mb-4">Company</h4>
    
              <ul class="list-unstyled footer-menu lh-35">
                <li><a href="about.html">Terms & Conditions</a></li>
                <li><a href="about.html">Privacy Policy</a></li>
                <li><a href="cobtact.html">Support</a></li>
                <li><a href="cobtact.html">FAQ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="widget">
              <h4 class="text-capitalize mb-4">Quick Links</h4>
    
              <ul class="list-unstyled footer-menu lh-35">
                <li><a href="about.html">About</a></li>
                <li><a href="service.html">Services</a></li>
                <li><a href="blog-grid.html">Blogs</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mx-lg-3 mx-auto">
            <div class="widget">
              <h4 class="text-capitalize mb-4">Subscribe Us</h4>
              <p>Subscribe to get latest news article and resources </p>
    
              <form action="#" class="sub-form">
                <input type="text" class="form-control mb-3" placeholder="Subscribe Now ...">
                <a href="#" class="btn btn-main btn-small">subscribe</a>
              </form>
            </div>
          </div>
    
          <div class="col-lg-3 col-sm-6">
            <div class="widget">
              <div class="logo mb-4">
                <h4 class="text-capitalize mb-4">Get in touch with us</h4>
              </div>
              <div class=" h6 text-nowrap text-capitalize">Archives Soft Design(opc) Private Limited</div>
              <div class=" h6 text-nowrap text-capitalize">GF 19, Neelnandan Complex,</div>
              <div class=" h6 text-nowrap text-capitalize"> New VIP Road, Vadodara.</div>
              
             <br>
              <h6><a href="mailto:support@gmail.com">info@archivessoftdesign</a></h6>
              <a href="tel:+23-345-67890"><span class="text-color h5">+91 704 3940 123</span></a>
            </div>
          </div>
        </div>


    <div class="footer-btm pt-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="copyright">
            Copyright &copy; 2019- ARCHIVES SOFT DESIGN(OPC) PRIVATE LIMITED - ALL RIGHTS RESERVED
          </div>
        </div>
        <div class="col-lg-6 text-left text-lg-right">
          <ul class="list-inline footer-socials">
            <li class="list-inline-item"><a href="https://www.linkedin.com/company/archivessoftdesign/"><i class="fab fa-linkedin mr-2"></i>LinkedIn</a></li>
            <li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="fab fa-twitter mr-2"></i>Twitter</a></li>
            <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="fab fa-pinterest-p mr-2 "></i>Pinterest</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
  <span class="icon fa fa-angle-up"></span>
</div>